@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.container {
    width: 1440px;
    height: 900px;
    /* margin: 0 auto; */
    /* padding-top: 10rem;
    padding-bottom: 20rem; */
}

.link-nostyle{
    text-decoration: none;
    color: inherit;
}

.sidebar{
    width: 256px;
    height: 900px;
}

.notes-list{
    width: 395px;
    height: 900px;
    background-color: rgb(220, 220, 220);
}

.notes-item{
    width: 100%;
    height: 147px;
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
}

#login-left{
    width: 42.5%; 
    height: 100%;
}

#eye_icon:hover{
    cursor:pointer;
}
