.w-100 {
    width: 100% !important;
}

.w-50 {
    width: 50% !important;
}

.w-30 {
    width: 30% !important;
}

.h-30{
    height: 150px !important;
}

.margin-auto {
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.posx-25{
    position: relative;
    left: 25%;
}

.rectangle {
    height: 52px;
    width: 52px;
    background-color: #555;
}