<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Post</h1>

    <form action="/note/create" method="POST">
        <label for="Note">Twit</label>
        <input
          type="title"
          id="title"
          name="title"
          placeholder="Input Title"
        />
        <label for="Description">Description</label>
        <input
          type="description"
          id="description"
          name="description"
          placeholder="Input description"
        />
      
      <button type="submit">Add Note</button>
    </form>
    <a href="/showpost">listpost</a>
</body>
</html>