<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/header', { title: 'Landing' }) %>
</head>
<body>
    <div class="container margin-auto border">
        <h1 id="app-name">App</h1>
        <div>
            <!-- <img src="" alt=""> -->
            <h2>Logo</h2>
        </div>
        <div>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </div>
</body>
</html>