<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/header', { title: 'Login' }) %>
  </head>
  <body>
    <div class="container p-0 border bg-secondary">
      <section class="left border bg-light p-3" id="login-left">
        <form action="/login" class="my-3 mt-5 p-3" method="POST">
          <div class="mb-5">
            <div>
              <h1> <span class="rectangle"></span> AppName</h1>
            </div>
            
            <h3 class="mt-5">Halo, Selamat Datang!</h3>
            <p>Masuk untuk mulai mengelola waktu dan tugasmu.</p>
          </div>

          <!-- placeholder untuk google login -->
          <div class="h-30"> 
          </div>

          <div class="form-group mt-3">
            <label for="email">Email</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="bi bi-envelope"></i>
                </span>
              </div>
              <input type="email" class="form-control mb-3" id="email" aria-describedby="emailHelp" name="email" placeholder="Ketik email">
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="bi bi-lock"></i>
                </span>
              </div>
              <input name="password" id="password" type="password" class="form-control mb-3" placeholder="Ketik password">
              <div class="input-group-append">
                <span id="eye_icon" class="input-group-text" onclick="passwordShowHide();">
                  <i class="bi bi-eye" id="show_eye"></i>
                  <i class="bi bi-eye-slash d-none" id="hide_eye"></i>
                </span>
              </div>
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-primary w-100 my-3">Masuk</button>
          </div>
          <p>Belum punya akun? <a href="/register" id="reg-link-login">Daftar</a></p>
        </form>
    </div>
    
    <script>
      function passwordShowHide(){
        var x = document.getElementById("password");
        var show_eye = document.getElementById("show_eye");
        var hide_eye = document.getElementById("hide_eye");
        hide_eye.classList.remove("d-none");
        if (x.type === "password") {
          x.type = "text";
          show_eye.style.display = "none";
          hide_eye.style.display = "block";
        } else {
          x.type = "password";
          show_eye.style.display = "block";
          hide_eye.style.display = "none";
        }
      }
    </script>
    <!-- google login api -->
    <!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
  </body>
</html>
