<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <h1>Register</h1>

    <form action="/register" method="POST">
      <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Enter Email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Create Password" />
      </div>
      <div>
        <label for="username">User Name</label>
        <input type="text" id="username" name="username" placeholder="user name"/>
      </div>
      <div>
        <label for="familyname">Family Name</label>
        <input type="text" id=familyname" name="familyname" placeholder="family name"/>
      </div>
      <button type="submit">Register</button>
    </form>
    <p>
      Have An Account?
      <a href="/login">Login</a>
    </p>
    <p>
      <a href="/">Home</a>
    </p>
  </body>
</html>
