<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Monsterlite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Monster admin lite design, Monster admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
        content="Monster Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Mini Project SYNRGY Team F</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/monster-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="/static/styles/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Font DM Sans -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-sidebartype="full" data-sidebar-position="absolute"
        data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar bg-light p-0 m-0" data-navbarbg="skin6" style="font-family: 'DM Sans', sans-serif;">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header p-0" data-logobg="skin6">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="index.html m-0"></a>
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none m-0"
                        href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>

                <div class="navbar-collapse collapse p-0" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->

                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <Section id="tasks"></Section>
                    <div class="container p-0">
                        <div class="row text-dark">
                            <div class="col">
                                <p class="fs-5 fw-bold">Reward</p>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->

                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar text-white p-1 pb-1 pt-5" style="background-color: #7DA17D">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav" style="font-family: 'DM Sans', sans-serif;">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <!-- ganti -->
                        <div class="user text-center mb-3 text-dark" style="font-family: 'DM Sans', sans-serif;">
                            <img src="/static/images/users/Mother.png" class="rounded-circle" width="120">
                            <p class="card-title mt-2 fw-normal fs-5">Cristine</p>
                            <p class="card-subtitle fs-6">Orang Tua</p>
                        </div>

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="family.html" aria-expanded="false">
                                <i class="me-3 bi bi-people" aria-hidden="true"></i><span
                                    class="hide-menu">Family</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="tasks.html" aria-expanded="false"><i class="me-3 bi bi-briefcase-fill"
                                    aria-hidden="true"></i><span class="hide-menu">Task</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="note.html" aria-expanded="false"><i class="me-3 bi bi-journal-bookmark-fill"
                                    aria-hidden="true"></i><span class="hide-menu">Note</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="rewards.html" aria-expanded="false"><i class="me-3 bi bi-gift-fill"
                                    aria-hidden="true"></i><span class="hide-menu">Reward</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link mb-4"
                                href="articles.html" aria-expanded="false"><i
                                    class="me-3 bi bi-file-earmark-richtext-fill" aria-hidden="true"></i><span
                                    class="hide-menu">Articles</span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="settings.html" aria-expanded="false"><i class="me-3 bi bi-gear"
                                    aria-hidden="true"></i><span class="hide-menu">Setting</span></a></li>
                        <li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="settings.html" aria-expanded="false"><i class="me-3 bi bi-gear"
                                    aria-hidden="true"></i><span class="hide-menu">Logout</span></a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper p-5 pt-2" style="font-family: 'DM Sans', sans-serif;">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="container" style="background-color: #F5F5F5;">
                <div class="position-relative">
                    <div class="container-fluid p-2">
                        <div class="row">
                            <div class="user text-center " style="font-family: 'DM Sans', sans-serif;">
                                <img src="/static/images/users/Mother.png" class="rounded-circle" width="120">
                                <div class="w-100 text-right">
                                    <p class="card-title mt-2 float-right fw-normal">Poin Saya</p>
                                </div>
                                <p class="card-subtitle fw-bold fs-4">1200pt</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container ml-6 mr-3">
                <div class="row text text-center text-dark">
                    <div class="btn col-6" style="background-color: #EFBD4A;">Reward
                        <!-- ukuran kolom ini 12 -->
                    </div>
                    <div class="btn col-6" style="background-color: #F9E4B5;">Claimed Reward
                        <!-- ukuran kolom ini 6 -->
                    </div>
                </div>
            </div>
            <div class="container p-0 m-0">
                <div class="position-relative mb-3">
                    <div class="container-fluid p-3">
                        <div class="row">

                            <div class="col-md-1 mb-3 p-2">
                                <button type="button" class="btn text-white position-absolute end-0"
                                    style="background-color: #5B8F9A;" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Add Reward</button>

                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content" style="background-color: #F5F5F5; border-radius: 15px;
                                        width: 565px;
                                        height: 348px; 
                                        ">
                                            <div class="modal-header">
                                                <h5 class="modal-title fw-bold" id="exampleModalLabel">Tambah Reward
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="form-floating">
                                                        <select class="form-select" id="floatingSelect"
                                                            aria-label="Floating label select example">
                                                            <option selected>Input the title</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                        <label for="floatingSelect">Judul Reward</label>
                                                    </div>

                                                    <div class="mb-3">
                                                        <label for="recipient-name" class="col-form-label">Poin</label>
                                                        <input type="text" class="form-control" id="recipient-name">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn"
                                                    style="background-color: #FFFFFF; color: #5B8F9A;"
                                                    data-bs-dismiss="modal">Batalkan</button>
                                                <button type="button" class="btn text-white"
                                                    style="background-color: #5B8F9A">Simpan</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="position-relative  p-1">
                    <div class="container">
                        <div class="row mb-3 bg-white">
                            <div class="col-md-2 p-4 text-center" style="background-color:#5B8F9A">
                                <div class="user text-center text-dark" style="font-family: 'DM Sans', sans-serif;">
                                    <img src="/static/images/users/Brother 2.png" class="rounded-circle" width="50">
                                    <p class="card-title mt-2 fw-normal fs-5 text-white">Kobi</p>
                                </div>
                            </div>
                            <div class="col-md-7 p-3" style="height: 112px; width: 1109pxpx">
                                <p class="m-0 p-0 fs-4 fw-bold">Jalan-Jalan ke Taman</p>
                                <p class="mt-2">1000pt</p>

                            </div>
                            <div class="col-md-3 p-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <button type="button" class="btn bi bi-check-lg" data-bs-toggle="modal"
                                            data-bs-target="#">
                                        </button>
                                    </div>
                                    <div class="col-md-4 ml-2">
                                        <!-- Button trigger modal Edit -->
                                        <button type="button" class="btn bi bi-pencil-fill" data-bs-toggle="modal"
                                            data-bs-target="#itiModal">
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="itiModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content" style="background-color: #F5F5F5;">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Tambah Task</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form>
                                                            <div class="form-floating">
                                                                <select class="form-select" id="floatingSelect"
                                                                    aria-label="Floating label select example">
                                                                    <option selected>Input the title</option>
                                                                    <option value="1">One</option>
                                                                    <option value="2">Two</option>
                                                                    <option value="3">Three</option>
                                                                </select>
                                                                <label for="floatingSelect">Kategori</label>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="message-text"
                                                                    class="col-form-label">Task</label>
                                                                <textarea class="form-control"
                                                                    id="message-text"></textarea>
                                                            </div>
                                                            <div class="form-floating">
                                                                <select class="form-select" id="floatingSelect"
                                                                    aria-label="Floating label select example">
                                                                    <option selected>Anak A</option>
                                                                    <option value="1">Anak B</option>
                                                                    <option value="2">Anak C</option>
                                                                    <option value="3">Anak D</option>
                                                                </select>
                                                                <label for="floatingSelect">Ditugaskan Untuk</label>
                                                            </div>
                                                            <div class="item form-group">
                                                                <label
                                                                    class="col-form-label col-md-3 col-sm-3 label-align">Deadline
                                                                    <span class="required">*</span>
                                                                </label>
                                                                <div class="col-md-6 col-sm-6 ">
                                                                    <input id="birthday"
                                                                        class="date-picker form-control"
                                                                        placeholder="dd-mm-yyyy" type="text"
                                                                        required="required" type="text"
                                                                        onfocus="this.type='date'"
                                                                        onmouseover="this.type='date'"
                                                                        onclick="this.type='date'"
                                                                        onblur="this.type='text'"
                                                                        onmouseout="timeFunctionLong(this)">
                                                                    <script>
                                                                        function timeFunctionLong(input) {
                                                                            setTimeout(function () {
                                                                                input.type = 'text';
                                                                            }, 60000);
                                                                        }
                                                                    </script>
                                                                </div>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="recipient-name"
                                                                    class="col-form-label">Poin</label>
                                                                <input type="text" class="form-control"
                                                                    id="recipient-name">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn"
                                                            style="background-color: #E9E9E9"
                                                            data-bs-dismiss="modal">Batalkan</button>
                                                        <button type="button" class="btn text-white"
                                                            style="background-color: #666666">Simpan</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ml-2">
                                        <!-- Button trigger modal Trash -->
                                        <button type="button" class="btn bi bi-trash" data-bs-toggle="modal"
                                            data-bs-target="#iniModal">
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="iniModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content" style="background: #FFFFFF; border-radius: 15px; width: 565px;
                                                    height: 331px;">
                                                    <div class=" modal-header p-3 border-0">
                                                        <p class="modal-title fs-1 bi bi-exclamation-triangle-fill position-absolute top-0 start-50"
                                                            id="exampleModalLabel" style="color: #F95C5C;">
                                                        </p>

                                                    </div>
                                                    <div class="modal-body fw-bold text-center p-0 pb-0 pt-5 m-4">
                                                        Task yang telah dihapus tidak dapat dikembalikan lagi. <br />
                                                        Apakah
                                                        anda yakin ingin *MENGHAPUS TASK* ini ?
                                                    </div>
                                                    <div class="modal-footer border-0">
                                                        <button type="button" class="btn"
                                                            style="background-color: #E9E9E9;"
                                                            data-bs-dismiss="modal">Batalkan</button>
                                                        <button type="button" class="btn text-white"
                                                            style="background-color: #5B8F9A">Hapus</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- <div class="col-md-4">
                                            <h2><i class="bi bi-check-lg"></i></h2>
                                        </div>
                                        <div class="col-md-4 ml-2">
                                            <h2><i class="bi bi-pencil-fill"></i></h2>
                                        </div>
                                        <div class="col-md-4 ml-2">
                                            <h2><i class="bi bi-trash"></i></h2>
                                        </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="row bg-white">
                            <div class="col-md-2 p-4 text-center" style="background-color:#5B8F9A">
                                <div class="user text-center text-dark" style="font-family: 'DM Sans', sans-serif;">
                                    <img src="/static/images/users/Brother 2.png" class="rounded-circle" width="50">
                                    <p class="card-title mt-2 fw-normal fs-5 text-white">Kobi</p>
                                </div>
                            </div>
                            <div class="col-md-7 p-3" style="height: 112px; width: 1109pxpx;">
                                <p class="m-0 p-0 fs-4 fw-bold">Masak nasi</p>
                                <p class="mt-2">Pendidikan &#x2022; 1000pt,</p>
                                <p class="mt-2"><i class="bi-alarm"></i> 21 Juli 2021</p>
                            </div>
                            <div class="col-md-3 p-4">
                                <div class="row">

                                    <b class="mt-2">Selesai</b>
                                    <p class="mt-2"><i class="bi-alarm"></i> 22 Juli 2021; 09:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- ============================================================== -->
                <!-- Container fluid  -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->


                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->

            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <!-- <footer class="footer text-center">
                Templates by <a href="https://www.tachul.com/">cozy.com</a>
            </footer> -->
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/static/plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="/static/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/js/sidebarmenu.js"></script>
    <!-- google maps api -->
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="/static/plugins/gmaps/gmaps.min.js"></script>
    <script src="/static/plugins/gmaps/jquery.gmaps.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/js/custom.js"></script>
</body>

</html>