<aside class="left-sidebar text-white p-1 pb-1 pt-5" style="background-color: #7DA17D">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav" style="font-family: 'DM Sans', sans-serif;">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <!-- ganti -->
                <div class="user text-center mb-3 text-dark" style="font-family: 'DM Sans', sans-serif;">
                    <img src="../assets/images/users/Mother.png" class="rounded-circle" width="120">
                    <p class="card-title mt-2 fw-normal fs-5">Cristine</p>
                    <p class="card-subtitle fs-6">Orang Tua</p>
                </div>

                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="family.html" aria-expanded="false">
                        <i class="me-3 bi bi-people" aria-hidden="true"></i><span class="hide-menu">Family</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="tasks.html"
                        aria-expanded="false"><i class="me-3 bi bi-briefcase-fill" aria-hidden="true"></i><span
                            class="hide-menu">Task</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="note.html"
                        aria-expanded="false"><i class="me-3 bi bi-journal-bookmark-fill" aria-hidden="true"></i><span
                            class="hide-menu">Note</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="rewards.html" aria-expanded="false"><i class="me-3 bi bi-gift-fill"
                            aria-hidden="true"></i><span class="hide-menu">Reward</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link mb-5"
                        href="articles.html" aria-expanded="false"><i class="me-3 bi bi-file-earmark-richtext-fill"
                            aria-hidden="true"></i><span class="hide-menu">Articles</span></a></li>

                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="settings.html" aria-expanded="false"><i class="me-3 bi bi-gear"
                            aria-hidden="true"></i><span class="hide-menu">Setting</span></a></li>
                <li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="settings.html" aria-expanded="false"><i class="me-3 bi bi-gear"
                            aria-hidden="true"></i><span class="hide-menu">Logout</span></a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>