<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
        content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Monsterlite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Monster admin lite design, Monster admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
        content="Monster Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Mini Project SYNRGY Team F</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/monster-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="/static/styles/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        referrerpolicy="no-referrer" />
    <!-- Progressbar CDN js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.0/progressbar.min.js">
    <!--Stylesheet-->
    <!-- Font DM Sans -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar bg-light p-0 m-0" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header p-0" data-logobg="skin6">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="index.html m-0"></a>
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none m-0"
                        href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>

                <div class="navbar-collapse collapse p-0" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->

                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <Section id="tasks"></Section>
                    <div class="container p-0">
                        <div class="row text-dark">
                            <div class="col">
                                <p class="fs-5 fw-bold" style="font-family: 'DM Sans', sans-serif;">Task</p>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->

                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar text-white p-1 pb-1 pt-5" style="background-color: #7DA17D">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav" style="font-family: 'DM Sans', sans-serif;">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <!-- ganti -->
                        <div class="user text-center mb-3 text-dark" style="font-family: 'DM Sans', sans-serif;">
                            <img src="/static/images/users/Mother.png" class="rounded-circle" width="120">
                            <p class="card-title mt-2 fw-normal fs-5">Cristine</p>
                            <p class="card-subtitle fs-6">Orang Tua</p>
                        </div>

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="family.html" aria-expanded="false">
                                <i class="me-3 bi bi-people" aria-hidden="true"></i><span
                                    class="hide-menu">Family</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="tasks.html" aria-expanded="false"><i class="me-3 bi bi-briefcase-fill"
                                    aria-hidden="true"></i><span class="hide-menu">Task</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="note.html" aria-expanded="false"><i class="me-3 bi bi-journal-bookmark-fill"
                                    aria-hidden="true"></i><span class="hide-menu">Note</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="rewards.html" aria-expanded="false"><i class="me-3 bi bi-gift-fill"
                                    aria-hidden="true"></i><span class="hide-menu">Reward</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link mb-5"
                                href="articles.html" aria-expanded="false"><i
                                    class="me-3 bi bi-file-earmark-richtext-fill" aria-hidden="true"></i><span
                                    class="hide-menu">Articles</span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="settings.html" aria-expanded="false"><i class="me-3 bi bi-gear"
                                    aria-hidden="true"></i><span class="hide-menu">Setting</span></a></li>
                        <li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                href="settings.html" aria-expanded="false"><i class="me-3 bi bi-gear"
                                    aria-hidden="true"></i><span class="hide-menu">Logout</span></a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper" style="background-color: #FAF7F1; font-family: 'DM Sans', sans-serif;">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <Section id="tasks"></Section>
            <div class="container pt-3 pb-3" style="background-color: #F9E2B3;">
                <div class="row text-center text-dark">
                    <div class="col fs-5 fw-bold" style="font-family: 'DM Sans', sans-serif;">
                        <p>Kategori Task</p>
                    </div>
                </div>
                <div class="row justify-content-center" style="font-family: 'DM Sans', sans-serif;">
                    <div class="col-md-1">
                        <button type="button" class="btn position-relative rounded-circle" width="40">
                            <img src="/static/images/users/Group 396.png" class="rounded-circle" width="40">
                            <p class="card-subtitle fc-text-arrow mt-2 fs-6">Semua</p>
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn position-relative rounded-circle" width="40">
                            <img src="/static/images/users/Group 395.png" class="rounded-circle" width="40">
                            <p class="card-subtitle fc-text-arrow mt-2 fs-6">Kewajiban</p>
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn position-relative rounded-circle" width="40">
                            <img src="/static/images/users/Group 394.png" class="rounded-circle" width="40">
                            <p class="card-subtitle fc-text-arrow mt-2 fs-6">Ibadah</p>
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn position-relative rounded-circle" width="40">
                            <img src="/static/images/users/Group 393.png" class="rounded-circle" width="40">
                            <p class="card-subtitle fc-text-arrow mt-2 fs-6">Rumah</p>
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn position-relative rounded-circle" width="40">
                            <img src="/static/images/users/Group 392.png" class="rounded-circle" width="40">
                            <p class="card-subtitle fc-text-arrow mt-2 fs-6">Kantor</p>
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn position-relative rounded-circle" width="40">
                            <img src="/static/images/users/Group 391.png" class="rounded-circle" width="40">
                            <p class="card-subtitle fc-text-arrow mt-2 fs-6">Kesehatan</p>
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn position-relative rounded-circle" width="40">
                            <img src="/static/images/users/Group 390.png" class="rounded-circle" width="40">
                            <p class="card-subtitle fc-text-arrow mt-2 fs-6">Olahraga</p>
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn position-relative rounded-circle" width="40">
                            <img src="/static/images/users/Group 389.png" class="rounded-circle" width="40">
                            <p class="card-subtitle fc-text-arrow mt-2 fs-6">Pendidikan</p>
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn position-relative rounded-circle" width="40">
                            <img src="/static/images/users/Group 388.png" class="rounded-circle" width="40">
                            <p class="card-subtitle fc-text-arrow mt-2 fs-6">Kreativitas</p>
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn position-relative rounded-circle" width="40">
                            <img src="/static/images/users/Group 387.png" class="rounded-circle" width="40">
                            <p class="card-subtitle fc-text-arrow mt-2 fs-6">Belanja</p>
                        </button>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn position-relative rounded-circle" width="40">
                            <img src="/static/images/users/Group 386.png" class="rounded-circle" width="40">
                            <p class="card-subtitle fc-text-arrow mt-2 fs-6">Perbaikan</p>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Popup Bottom  -->

            <div class="container p-5 pt-2">
                <div class="position-relative pb-3 pt-1">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 p-3">
                                <form class="app-search">
                                    <input type="text" class="form-control" placeholder="Search for..."> <a
                                        class="srh-btn"><i class="ti-search"></i></a>
                                </form>
                            </div>
                            <div class="col-md-3 p-3">
                                <input class="form-control" class='date' type="date" name="date" required='required'>
                            </div>
                            <div class="col-md-1 p-3">
                                <button type="button" class="btn text-white position-absolute end-0"
                                    style="background-color: #5B8F9A;" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Tambah Task</button>

                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content"
                                            style="background-color: #FFFFFF; border-radius: 15px;">
                                            <div class="modal-header">
                                                <h5 class="modal-title fw-bold" id="exampleModalLabel">Tambah Task</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="form-floating">
                                                        <select class="form-select" id="floatingSelect"
                                                            aria-label="Floating label select example">
                                                            <option selected>Input the title</option>
                                                            <option value="1">One</option>
                                                            <option value="2">Two</option>
                                                            <option value="3">Three</option>
                                                        </select>
                                                        <label for="floatingSelect">Kategori</label>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="message-text" class="col-form-label">Task</label>
                                                        <textarea class="form-control" id="message-text"></textarea>
                                                    </div>
                                                    <div class="form-floating">
                                                        <select class="form-select" id="floatingSelect"
                                                            aria-label="Floating label select example">
                                                            <option selected>Anak A</option>
                                                            <option value="1">Anak B</option>
                                                            <option value="2">Anak C</option>
                                                            <option value="3">Anak D</option>
                                                        </select>
                                                        <label for="floatingSelect">Ditugaskan Untuk</label>
                                                    </div>
                                                    <div class="item form-group">
                                                        <label
                                                            class="col-form-label col-md-3 col-sm-3 label-align">Deadline
                                                            <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 ">
                                                            <input id="birthday" class="date-picker form-control"
                                                                placeholder="dd-mm-yyyy" type="text" required="required"
                                                                type="text" onfocus="this.type='date'"
                                                                onmouseover="this.type='date'"
                                                                onclick="this.type='date'" onblur="this.type='text'"
                                                                onmouseout="timeFunctionLong(this)">
                                                            <script>
                                                                function timeFunctionLong(input) {
                                                                    setTimeout(function () {
                                                                        input.type = 'text';
                                                                    }, 60000);
                                                                }
                                                            </script>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="recipient-name" class="col-form-label">Poin</label>
                                                        <input type="text" class="form-control" id="recipient-name">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn" style="background-color: #E9E9E9"
                                                    data-bs-dismiss="modal">Batalkan</button>
                                                <button type="button" class="btn text-white"
                                                    style="background-color: #5B8F9A">Simpan</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row mb-3 bg-white">
                        <div class="col-md-2 p-4 text-center" style="background-color:#5B8F9A">
                            <div class="user text-center text-dark" style="font-family: 'DM Sans', sans-serif;">
                                <img src="/static/images/users/Brother 2.png" class="rounded-circle" width="50">
                                <p class="card-title mt-2 fw-normal fs-5 text-white">Kobi</p>
                            </div>
                        </div>
                        <div class="col-md-7 p-3" style="height: 112px; width: 1109pxpx">
                            <p class="m-0 p-0 fs-4 fw-bold">Belajar Alphabeth</p>
                            <p class="mt-2">Pendidikan &#x2022; 1000pt,</p>
                            <p class="mt-2"><i class="bi-alarm"></i> 21 Juli 2021</p>
                        </div>
                        <div class="col-md-3 p-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" class="btn bi bi-check-lg fs-5" data-bs-toggle="modal"
                                        data-bs-target="#">
                                    </button>
                                </div>
                                <div class="col-md-4 ml-2">
                                    <!-- Button trigger modal Edit -->
                                    <button type="button" class="btn bi bi-pencil-fill fs-5" data-bs-toggle="modal"
                                        data-bs-target="#itiModal">
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="itiModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content"
                                                style="background-color: #F5F5F5; border-radius: 15px;">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Tambah Task</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="form-floating">
                                                            <select class="form-select" id="floatingSelect"
                                                                aria-label="Floating label select example">
                                                                <option selected>Input the title</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                            </select>
                                                            <label for="floatingSelect">Kategori</label>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="message-text"
                                                                class="col-form-label">Task</label>
                                                            <textarea class="form-control" id="message-text"></textarea>
                                                        </div>
                                                        <div class="form-floating">
                                                            <select class="form-select" id="floatingSelect"
                                                                aria-label="Floating label select example">
                                                                <option selected>Anak A</option>
                                                                <option value="1">Anak B</option>
                                                                <option value="2">Anak C</option>
                                                                <option value="3">Anak D</option>
                                                            </select>
                                                            <label for="floatingSelect">Ditugaskan Untuk</label>
                                                        </div>
                                                        <div class="item form-group">
                                                            <label
                                                                class="col-form-label col-md-3 col-sm-3 label-align">Deadline
                                                                <span class="required">*</span>
                                                            </label>
                                                            <div class="col-md-6 col-sm-6 ">
                                                                <input id="birthday" class="date-picker form-control"
                                                                    placeholder="dd-mm-yyyy" type="text"
                                                                    required="required" type="text"
                                                                    onfocus="this.type='date'"
                                                                    onmouseover="this.type='date'"
                                                                    onclick="this.type='date'" onblur="this.type='text'"
                                                                    onmouseout="timeFunctionLong(this)">
                                                                <script>
                                                                    function timeFunctionLong(input) {
                                                                        setTimeout(function () {
                                                                            input.type = 'text';
                                                                        }, 60000);
                                                                    }
                                                                </script>
                                                            </div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="recipient-name"
                                                                class="col-form-label">Poin</label>
                                                            <input type="text" class="form-control" id="recipient-name">
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn" style="background-color: #E9E9E9"
                                                        data-bs-dismiss="modal">Batalkan</button>
                                                    <button type="button" class="btn text-white"
                                                        style="background-color: #5B8F9A">Simpan</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 ml-2">
                                    <!-- Button trigger modal Trash -->
                                    <button type="button" class="btn bi bi-trash fs-5" data-bs-toggle="modal"
                                        data-bs-target="#iniModal">
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="iniModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content border-0" style="background: #FFFFFF; border-radius: 15px; width: 565px;
                                                height: 331px;">
                                                <div class="">
                                                    <p class="modal-title h1 bi bi-exclamation-triangle-fill position-absolute top-0 start-50"
                                                        id="exampleModalLabel" style="color: #F95C5C;">
                                                    </p>

                                                </div>
                                                <div class="modal-body text-center top-50 start-50 translate-middle"
                                                    style="text-align: center;">
                                                    Task yang telah dihapus tidak dapat dikembalikan lagi. Apakah
                                                    anda yakin ingin *MENGHAPUS TASK* ini ?
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <button type="button" class="btn" style="background-color: #E9E9E9;"
                                                        data-bs-dismiss="modal">Batalkan</button>
                                                    <button type="button" class="btn text-white"
                                                        style="background-color: #5B8F9A">Hapus</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- <div class="col-md-4">
                                    <h2><i class="bi bi-check-lg"></i></h2>
                                </div>
                                <div class="col-md-4 ml-2">
                                    <h2><i class="bi bi-pencil-fill"></i></h2>
                                </div>
                                <div class="col-md-4 ml-2">
                                    <h2><i class="bi bi-trash"></i></h2>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="row bg-white">
                        <div class="col-md-2 p-4 text-center" style="background-color:#5B8F9A">
                            <div class="user text-center text-dark" style="font-family: 'DM Sans', sans-serif;">
                                <img src="/static/images/users/Brother 2.png" class="rounded-circle" width="50">
                                <p class="card-title mt-2 fw-normal fs-5 text-white">Kobi</p>
                            </div>
                        </div>
                        <div class="col-md-7 p-3" style="height: 112px; width: 1109pxpx;">
                            <p class="m-0 p-0 fs-4 fw-bold">Masak nasi</p>
                            <p class="mt-2">Pendidikan &#x2022; 1000pt,</p>
                            <p class="mt-2"><i class="bi-alarm"></i> 21 Juli 2021</p>
                        </div>
                        <div class="col-md-3 p-4">
                            <div class="row">

                                <b class="mt-2">Selesai</b>
                                <p class="mt-2"><i class="bi-alarm"></i> 22 Juli 2021; 09:00</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="position-relative" style="min-height: calc(100vh - 350px)">
                    <div class="position-absolute top-50 start-50 translate-middle text-center"><img
                            src="../assets/images/users/cuate.png" alt="">
                        <p class="card-subtitle fc-text-arrow mt-2 fs-4 fw-bold">Wah belum ada task saat ini,<br />
                            mulai
                            tambahin yuk!</p>
                    </div>


                </div> -->



                <!-- </div> -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
                <!-- </div> -->
                <!-- ============================================================== -->
                <!-- End Container fluid  -->
                <!-- ============================================================== -->
            </div>

            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <!-- <footer class="footer text-center">
                Templates by <a href="https://www.tachul.com/">cozy.com</a>
            </footer> -->
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/static/plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/plugins/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="/static/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/static/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/js/custom.js"></script>
</body>

</html>